@charset "UTF-8";
.slide-d3 h2 {
    margin-bottom: 1em;
}

.slide-d3 svg {
    height: 500px;
    width: 100%;
}

.chart-2 rect {
    fill: steelblue;
}

.chart-2 text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
}