@charset "UTF-8";
.slide-d3 h2 {
    margin-bottom: 1em;
}

.slide-d3 svg {
    height: 500px;
    width: 100%;
}

.chart-2 rect {
    fill: steelblue;
}

.chart-2 text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
}

path.slice{
	stroke-width:2px;
}
polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}
svg {
        font: 10px sans-serif;
} 

svg text.percent{
	fill:white;
	text-anchor:middle;
	font-size:12px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: steelblue;
}
